<section id="section-intro">
  <div id="product-slider" >
    <div class="offer">
      <img alt="product" src="assets/images/slider/1.jpg">

      <div class="offer-detail">
        <div class="offer-detail-inner">
          <div class="offer-detail-content">

            <h3 style="font-size: 40px;" >      Pizza
              pepperoni
              just
            </h3>
            <div class="price-huge clearfix">
              <div class="pull-up">
                <span class="price-currency">₴</span><span class="price-val-1">170</span>
              </div>
              <div class="pull-left">

                <a href="#" class="button-red button-text-big cart-trigger">ORDER NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
