<section id="section-about">
  <div class="container">
    <h1 class="bottom-line">About us</h1>

    <div class="row">
      <div class="col-md-6" data-animation="fadeInLeft">

        <span class="span">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat!Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
      </div>
      <div class="col-md-6 " data-animation="fadeInRight">
        <img class="img"  src="https://36550.ru/upload/000/u1/c9/f3/trebuetsja-piccerist-photo-big.jpg">
      </div>
    </div>
  </div>
</section>
<div class="margin-20"></div>



