<div class="margin-20"></div>
<section id="section-gallery">
    <div class="container">
        <h1 class="bottom-line">Gallery</h1>
       
        
        <div id="gallery" class="gallery row">
            <div class="col-md-3 col-sm-6 col-xs-12 grid-sizer"></div><!-- basic size of the grid -->
     
          
            <div class="col-md-6 col-sm-6 col-xs-12 gallery-item filter-pizza filter-photoshop">
                <img alt="photo" src="assets/images/gallery/gallery1.jpg">
                <div class="gallery-item-detail">
                    <div class="row">
                       
                        <div class="col-sm-5 text-right">
                            <a href="assets/images/gallery/gallery1.jpg" class="gallery-detail-icon" data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 gallery-item filter-hamburgers filter-photoshop">
                <img alt="photo" src="assets/images/gallery/gallery2.jpg">
                <div class="gallery-item-detail">
                    <div class="row">
                        
                        <div class="col-sm-5 text-right">
                            <a href="assets/images/gallery/gallery2.jpg" class="gallery-detail-icon " data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-item dark-cover filter-pizza filter-sandwiches filter-hamburgers">
                <img alt="photo" src="assets/images/gallery/gallery3.jpg">
                <div class="gallery-item-detail">
                    <div class="text-center">
                       
                            <a href="assets/images/gallery/gallery3.jpg" class="gallery-detail-icon" data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                          
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-item filter-sandwiches filter-photoshop">
                <img alt="photo" src="assets/images/gallery/gallery4.jpg">
                <div class="gallery-item-detail">
                    <div class="text-center">
                        <a href="assets/images/gallery/gallery4.jpg" class="gallery-detail-icon" data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-item dark-cover filter-pizza filter-photoshop">
                <img alt="photo" src="assets/images/gallery/gallery7.jpg">
                <div class="gallery-item-detail">
                    <div class="text-center">
                        
                            <a href="assets/images/gallery/gallery7.jpg" class="gallery-detail-icon" data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                           
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-item filter-hamburgers filter-wordpress">
                <img alt="photo" src="assets/images/gallery/gallery8.jpg">
                <div class="gallery-item-detail">
                    <div class="text-center">
                        <a href="assets/images/gallery/gallery8.jpg" class="gallery-detail-icon" data-lightbox="gallery-images"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>