<div class="container ">
  <div class="row">
      <div class="text-center ">
        <nav id="main-navigation" >
          <ul id="one-page-nav">
    <li class="active">
      <button type="button" (click)="goToEdit()" class="btn btn-link">Edit personal info</button>
    </li>
    <li>
      <button type="button" (click)="goToChange()" class="btn btn-link">Change password</button>
    </li>
    <li>
      <button type="button" (click)="gotoOrders()" class="btn btn-link">My orders</button>
    </li>
    <li>
      <button type="button" (click)="goReply()" class="btn btn-link">Leave a rewiew</button>
    </li>
    <li>
      <button type="button" (click)="signOut()" class="btn btn-link">Logout</button>
    </li>
  </ul>
  </nav>
  <div class="margin-40"></div>
</div>





    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="hd">Name:</span><span class="hd2">{{ user.name }}</span></li>
        <li class="list-group-item"><span class="hd">Email:</span><span class="hd2">{{ user.email }}</span></li>
        <li class="list-group-item"><span class="hd">Phone:</span><span class="hd2">{{ user.phone }}</span></li>
        <li class="list-group-item"><span class="hd">Addres:</span><span class="hd2">{{ user.address }}</span></li>
        <li class="list-group-item"><span class="hd">Date of birth:</span><span class="hd2">{{ user.birthday }}</span></li>
      </ul>


    </div>

  </div>
</div>

