<section class="heavy-borders section-socials bg-black-cover3 ">

  <div class="container">


    <p class="text-high" >
      Connect with us Socially
    </p>
    <div class="row text-center">
      <div class="col-sm-12-5">
        <a href="https://www.facebook.com/" target="_blank" data-animation="fadeInUp">
          <article class="social-big">
            <div class="social-icon">
              <i class="fa fa-facebook"></i>
            </div>
            Facebook<br>

          </article>
        </a>
      </div>
      <div class="col-sm-12-5">
        <a href="https://twitter.com/" target="_blank" data-animation="fadeInUp" data-delay="250">
          <article class="social-big">
            <div class="social-icon">
              <i class="fa fa-twitter"></i>
            </div>
            Twitter<br>

          </article>
        </a>
      </div>
      <div class="col-sm-12-5">
        <a href="https://plus.google.com/" target="_blank" data-animation="fadeInUp" data-delay="300">
          <article class="social-big">
            <div class="social-icon">
              <i class="fa fa-google-plus"></i>
            </div>
            Google+<br>

          </article>
        </a>
      </div>
      <div class="col-sm-12-5">
        <a href="https://youtube.com/" target="_blank" data-animation="fadeInUp" data-delay="350">
          <article class="social-big">
            <div class="social-icon">
              <i class="fa fa-youtube"></i>
            </div>
            YouTube<br>

          </article>
        </a>
      </div>
      <div class="col-sm-12-5">
        <a href="https://instagram.com/ " target="_blank" data-animation="fadeInUp" data-delay="400">
          <article class="social-big">
            <div class="social-icon">
              <i class="fa fa-instagram"></i>
            </div>
            Instagram<br>

          </article>
        </a>
      </div>

    </div>
  </div>

</section>

