


<section id="section-contact" >
  <div class="container">
    <div class="margin-20"></div>
    <h1 class="bottom-line">Contact</h1>


    <div class="row" id="qwe">
      <div class="col-md-6 text-center">
        <div class="margin-20"></div>
        <h2 class="footer-heading">Opening Hours</h2>
        <div class="opening-hours-wrapper ">

          Monday - Friday09:00 - 23:00h<br>
          Saturday09:00 - 16:00h<br>
          Sunday12:00 - 18:00h
        </div>
      </div>



      <div class="col-md-6 text-center">
        <div class="margin-20"></div>
        <h2 class="footer-heading">Our Address</h2>
        <div  class="opening-hours-wrapper" >
          <address>
            Pizzeria Office<br>
            street Volodymyra Velykogo 22,<br>
            Lviv, Ukraine
          </address>


        </div>
      </div>
      <div class="col-md-12 text-center opening-hours-wrapper">Contact Number: +380932567890<br>
        Email: info@pizza.com
        <div class="margin-20"></div>
      </div>

    </div><!-- .row -->
  </div>
</section>
<div class="margin-9"></div>

