<section id="section-menu">
  <div class="container">
    <h1 class="bottom-line">Menu</h1>


    <div class="text-center">
      Filter:
      <ul class="list-filter">
        <li><a (click)="setFilter('')">All</a></li>
        <li *ngFor="let item of categoryArr"><a (click)="setFilter(item.name)">{{item.name}}</a></li>
<!--        <li><a (click)="setFilter('Meat')">Meat pizza</a></li>-->
<!--        <li><a (click)="setFilter('Vegeterian')">Vegetarian pizza</a></li>-->
<!--        <li><a (click)="setFilter('Fish')">Fish pizza</a></li>-->
      </ul>
    </div>
    <!--    -->


    <div class="row">
      <div class="col-md-4" *ngFor="let product of products | sortProduct: filter | paginate: { itemsPerPage: 3, currentPage: page }">
        <div class="product-preview">
          <div class="product-photo">
            <img alt="product" src="assets/images/products/1.png">
          </div>
          <h3 class="product-title">{{product.productName}}</h3>
          <p class="product-info">
            <span *ngFor="let component of product.nutrients">{{component}} </span>
          </p>
          <div>
            <div *ngFor="let value of product.price; let i = index" class="my-checkBox">
              <label for="{{value._id}}"> {{value.size}} - {{value.value}} </label>
              <input type="radio" name="{{product._id}}" id="{{value._id}}"
                     *ngIf="!i" checked
                     (click)="setPrice(value.value, product._id)"
              >
              <input type="radio" name="{{product._id}}" id="{{value._id}}"
                     *ngIf="i"
                     (click)="setPrice(value.value, product._id)"
              >
            </div>
          </div>
          <div class="product-price" style="font-size: 30px;">
            <sub>₴</sub><span [id]="product._id"
                              attr.data-name="{{product.productName}}"
                              attr.data-kind="{{product.kind}}"
                              attr.data-type="{{product.productType}}">
            {{product.price[0].value}}
          </span><sup>99</sup>
            <button class="cart-trigger button-clean button-text-small" (click)="addToCart(product._id)">Order now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center" [ngStyle]="{fontSize: '12px'}">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>

</section>
